@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#header {
	background-color: #333;
	color: #fff;
}

#header h1 {
	font-size: 0;
}

#main_gnb ul {
	overflow: hidden;
}

#main_gnb ul li {
	float: left;
	width: 20%;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

#main_gnb ul li.gnb_over {
	background-color: #C72D2D;
}

#main_gnb ul li:hover {
	background-color: #C72D2D;
}

#main_gnb ul li a {
	color: #fff;
}

#contentArea {
	overflow: hidden;
}

#sidebar {
	float: left;
	min-width: 200px;
}

#sidebar ul {
	width: 90%;
	margin: 20px auto;
}

#sidebar ul li {
	height: 30px;
	line-height: 30px;
}

#content {
	overflow: hidden;
	min-height: 900px;
	border-left: 1px solid #ccc;
}

#footer {
	background-color: #333;
}

#footer p {
	height: 200px;
	line-height: 200px;
	text-align: center;
	color: #fff;
}


div.pagingArea {
	margin: 50px 0;
	text-align: center;
}
ul.pagination {
	overflow: hidden;
	display: inline-block;
}
ul.pagination li {
	float: left;
	display: inline-block;
	width: 25px;
	height: 30px;
	line-height: 30px;
}

ul.pagination a {
	text-align: center;
	vertical-align: middle;
	color: #333;
}
ul.pagination li.page {
	border-bottom: 2px solid #000;
	color: red;
	font-weight: bold;
}