@charset "UTF-8";

section #container {
	width: 95%;
	margin: 10px auto;
	min-height: 500px;
}

section #container h2 {
	margin-bottom: 20px;
}

section #container .searchArea {
	margin-top: 10px;
	margin-bottom: 5px;
}

section #container .searchArea select, section #container .searchArea input
	{
	outline: none;
	vertical-align: top;
}

section #container .searchArea select {
	height: 28px;
}

section #container .searchArea input[type='text'] {
	height: 25px;
}

section #container .searchArea input[type='submit'] {
	width: 50px;
	height: 28px;
}

section #container table {
	border-collapse: collapse;
	width: 100%;
}

section #container table.memlist th, section #container table.memlist td {
	border: 1px solid #eaeaea;
	padding: 5px;
}

section #container table.memlist th {
	background-color: #f1f1f1;
	height: 30px;
}

section #container table.memlist td a {
	color: #414ba9;
	font-weight: bold;
}

.td-center {
	text-align: center;
}

section #container table.register {
	border-collapse: collapse;
	width: 100%;
}

section #container table.register td span.required {
	color: red
}

section #container table.register tr:first-child td {
	border-top: 1px solid #eaeaea;
}

section #container table.register td {
	padding: 10px;
	border-bottom: 1px solid #eaeaea;
}
section #container table.register td input, section #container table.register td select{
	vertical-align: middle;
	outline: none;
}
section #container table.register td input {
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
}

section #container table.register td select {
	height: 27px;
}

section #container table.register td input.checkPwd {
	width: 250px;
}

section #container table.register td input.form_addr {
	width: 450px;
}

section #container table td a.btn {
	display: inline-block;
	background-color: #e5e5e5;
	color: #555;
	width: 70px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #e0e0e0;
	font-size: 0.9em;
}

section #container p.btn {
	margin-top: 40px;
	text-align: center;
}

section #container p.btn a {
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
}

section #container p.btn a.ok {
	background-color: #333;
	color: #fff;
}

section #container p.btn a.leave {
	background-color: #c25350;
	color: #fff;
	display: inline-block;
	float: right;
}

section #container p.btn a.cancel {
	background-color: #e8e8e8;
	color: #333;
}

section #container table.modify {
	width: 100%;
	margin:5px auto 20px;
}

section #container table.modify tr:first-child th, section #container table.modify tr:first-child td {
	border-top: 2px solid #6E7074;
}

section #container table.modify th, section #container table.modify td {
	border-bottom: 1px solid #e1e1e1;
	padding: 10px;
}

section #container table.modify th {
	text-align: left;
	background-color: #f2f2f2;
}

section #container table.modify td {
}

section #container table.modify td p {
	margin-top: 5px;
}

section #container table.modify td input.form_addr {
	width: 450px;
}

section #container table.modify td input.checkPwd {
	width: 250px;
}

section #container table.modify td input, section #container table.modify td select {
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	outline: none;
	vertical-align: middle;
}

section #container table.modify td .checkEmail {
	width: 120px;
}

div.pagingArea {
	margin: 50px 0;
	text-align: center;
}
ul.pagination {
	overflow: hidden;
	display: inline-block;
}
ul.pagination li {
	float: left;
	display: inline-block;
	width: 25px;
	height: 30px;
	line-height: 30px;
}

ul.pagination a {
	text-align: center;
	vertical-align: middle;
	color: #333;
}
ul.pagination li.page {
	border-bottom: 2px solid #000;
	color: red;
	font-weight: bold;
}