@CHARSET "UTF-8";

.footer_in {
	margin: 0 150px;
	padding: 90px 20px;
	height: auto;
	overflow: hidden;
}

div {
	display: block;
}

.footer .leftCopy, .footer .aboutMenu, .footer .boardMenu {
	float: left;
	margin-right: 70px;
}

.footer .aboutMenu a, .footer .boardMenu a, .footer .csMenu a
	{
	letter-spacing: 1px;
	color: #e3e3e3;
	font-size: 10px;
	text-decoration: none;
}




.footer .searMenu {
	float: right;
	width: 230px;
}

.footer .csMenu {
	float: left;
}

div {
	display: block;
}

.footer ul li {
	display: block;
	height: 26px;
	list-style: none;
}