@CHARSET "UTF-8";

section {
    margin: 83px auto 150px;
	width: 1410px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}