@CHARSET "UTF-8";

section {
	width: 1410px;
	margin: 0 auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}