@charset "UTF-8";

#loginContent {
	width: 1410px;
	margin: 83px auto 150px;
	min-height: 700px;
}

#loginContent h2 {
	margin-top: 50px;
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.3em;
	letter-spacing: 3px;
	text-align: center;
}

#loginContent .memberArea {
	margin-top: 30px;
	width: 100%;
	height: 500px;
	border: 1px solid #EAEAEA;
	
}