@charset "UTF-8";

#loginContent {
	width: 1410px;
	margin: 83px auto 150px;
	min-height: 580px;
	font-size: 12px;
}

#loginContent h2 {
	margin-top: 50px;
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.5em;
	letter-spacing: 3px;
	text-align: center;
}

#loginContent .memberArea {
	margin-top: 30px;
	width: 1408px;
	min-height: 432px;
	border: 1px solid #EAEAEA;
	overflow: hidden;
}

#loginContent .loginArea, #loginContent .joinArea {
	width: 380px;
	margin: 60px;
	float: left;
}

#loginContent fieldset {
	border: none;
}

#loginContent legend {
	color: #888;
	margin-bottom: 10px;
	font-size: 1.2em;
}

#loginContent .loginArea label {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}

#loginContent .loginArea input {
	width: 360px;
	height: 20px;
	padding: 10px;
	background-color: #eee;
	border: none;
	outline: none;
}

#loginContent .loginArea input[type="submit"] {
	background-color: #000;
	margin-top: 30px;
	color: #fff;
	width: 380px;
	height: 40px;
}

#loginContent .loginArea p {
	margin-top: 30px;
}

#loginContent .loginArea p a {
	color: #888;
}

#loginContent .joinArea {
	margin-left: 100px;
}

#loginContent .joinArea p {
	margin-top: 5px;
}

#loginContent .joinArea input[type="button"] {
	background-color: #000;
	margin-top: 30px;
	color: #fff;
	width: 380px;
	height: 40px;
	border: none;
	outline: none;
}

#loginContent .loginArea input[type="submit"], #loginContent .joinArea input[type="button"]
	{
	cursor: pointer;
}

/* 아이디 / 비번 찾기 */
#loginContent .findArea {
	margin-top: 30px;
	width: 1408px;
	min-height: 250px;
	border: 1px solid #EAEAEA;
	overflow: hidden;
}

#loginContent .findArea > form > div {
	width: 1300px;
	margin: 40px auto;
}

#loginContent .findArea > form > div p.msg {
	color: #888;
	font-size: 1.2em;
}

#loginContent .findArea > form > div ul {
	margin-top: 20px;
	width: 300px;
	overflow: hidden;
}
#loginContent .findArea > form > div ul li {
	float: left;
	margin-right: 40px;
	color: #888;
}
#loginContent .findArea > form > div table.findMember {
	border-collapse: collapse;
	width: 1298px;
	margin-top: 10px;
}
#loginContent .findArea > form > div table.findMember th, #loginContent .findArea > form > div table.findMember td {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 12px;
}
#loginContent .findArea > form > div table.findMember th {
	width: 10%;
	background-color: #f5f5f5;
}
#loginContent .findArea > form > div table.findMember td {
	
}
#loginContent .findArea > form > div table.findMember tr.findPhone {
	display: none;
}
#loginContent .findArea > form > div p.btn {
	margin-top: 20px;
	text-align: center;
}
#loginContent .findArea > form > div p.btn a {
	display: inline-block;
	background-color: #eaeaea;
	padding: 7px 14px;
}
#loginContent .findArea > form > div p.btn a.find {
	background-color: #eaeaea;
	color: #333;
}

#loginContent .findArea > form > div p.btn a.login {
	background-color: #333;
	color: #fff;
}
/* 아이디 / 비번 찾기 */