@charset "UTF-8";

#mainContent {
	width: 100%;
	min-height: 1000px;
	overflow: hidden;
}

#mainContent .header_back_img_area {
	width: 100%;
	min-height: 623px;
	background: url('../images/MainBackGroundImg.jpg') no-repeat center 100%
		fixed;
	background-size: cover;
}
#mainContent .category_item p.list_title {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin-top: 40px;
	text-align: center;
}