@charset "UTF-8";


#mypageContent {
	width: 1410px;
	margin: 83px auto 150px;
	min-height: 580px;
	font-size: 12px;
}

#mypageContent h2 {
	margin-top: 50px;
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.5em;
	letter-spacing: 3px;
	text-align: center;
}

#mypageContent ul.mypage_menu {
	width: 500px;
	margin: 20px auto;
	overflow: hidden;
}
#mypageContent ul.mypage_menu li {
	float: left;
	width: 33%;
	text-align: center;
	font-size: 1.3em;
}
#mypageContent ul.mypage_menu li a {
	color: #6f6f6f;
}
#mypageContent ul.mypage_menu li a:hover {
	font-weight: bold;
}