@charset "UTF-8";

#mypageContent {
	width: 1410px;
	margin: 83px auto 150px;
	min-height: 580px;
	font-size: 12px;
}

#mypageContent h2 {
	margin-top: 50px;
	font-family: 'IBM Plex Serif', serif;
	font-size: 1.5em;
	letter-spacing: 3px;
	text-align: center;
}

#mypageContent ul.mypage_menu {
	width: 500px;
	margin: 20px auto;
	overflow: hidden;
}

#mypageContent ul.mypage_menu li {
	float: left;
	width: 25%;
	text-align: center;
	font-size: 1.3em;
}

#mypageContent ul.mypage_menu li a {
	color: #6f6f6f;
}

#mypageContent ul.mypage_menu li a:hover {
	font-weight: bold;
}

#mypageContent .infoArea {
	border: 1px solid #eaeaea;
	width: 500px;
	margin: 30px auto;
	font-size: 1.2em;
}

#mypageContent .infoArea .memberInfo, #mypageContent .infoArea .orderInfo
	{
	width: 80%;
	margin: 40px auto;
}

#mypageContent .infoArea p {
	margin: 10px 0;
}

#mypageContent .infoArea .memberInfo {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 30px;
}

#mypageContent .infoArea .memberInfo a {
	display: inline-block;
	color: #555;
	border: 1px solid #888;
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

#mypageContent .board {
	margin: 40px 0;
}

#mypageContent .board h3 {
	overflow: hidden;
}

#mypageContent .board h3.checkPw_top {
	text-align: center;
	font-size: 1.3em;
}

#mypageContent .board h3 a {
	display: inline-block;
	float: right;
	color: #555;
	border: 1px solid #888;
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: 400;
}

#mypageContent .board table {
	margin-top: 10px;
	border-collapse: collapse;
	width: 100%;
}

#mypageContent .board table th {
	height: 35px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f5f5f5;
}

#mypageContent .board table td {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	height: 35px;
	text-align: center;
}

#mypageContent .board p.top_msg {
	overflow: hidden;
}

#mypageContent .board p.top_msg .page {
	display: inline-block;
	float: right;
}

#mypageContent .board p.order_top_msg {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 60px;
}

#mypageContent .board td a.btn {
	display: inline-block;
	width: 50px;
	height: 25px;
	line-height: 25px;
	background-color: #e8e8e8;
	border: 1px solid #e1e1e1;
	color: #333;
}

#mypageContent .board .checkPw {
	width: 600px;
	margin: 30px auto 50px;
	min-height: 300px;
	border: 1px solid #eaeaea;
	color: #555;
}

#mypageContent .board .checkPw p.msg {
	margin-top: 40px;
	text-align: center;
	font-size: 1.15em;
}

#mypageContent .board .checkPw div.formArea {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin: 30px auto;
	width: 80%;
}

#mypageContent .board .checkPw div.formArea p {
	width: 60%;
	margin: 20px auto;
	font-size: 1.1em;
}

#mypageContent .board .checkPw div.formArea p label {
	width: 100px;
	display: inline-block;
}

#mypageContent .board .checkPw div.formArea p input {
	height: 25px;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
}

#mypageContent .board .checkPw p.btn {
	text-align: center;
}

#mypageContent .board .checkPw p.btn a {
	display: inline-block;
	width: 50px;
	height: 30px;
	color: #fff;
	line-height: 30px;
}

#mypageContent .board .checkPw p.btn a.ok {
	background-color: #333;
}

#mypageContent .board .checkPw p.btn a.cancel {
	background-color: #e5e5e5;
	color: #555;
}

#mypageContent .board table.modify td {
	text-align: left;
	padding-left: 20px;
}

#mypageContent .board table.modify td input, #mypageContent .board table.modify td select {
	outline: none;
	border: 1px solid #eaeaea;
	vertical-align: middle;
}

#mypageContent .board table.modify td input {
	height: 25px;
	padding-left:  10px;
	padding-right: 10px;
}

#mypageContent .board table.modify td select {
	height: 27px;
}

#mypageContent .board table.modify td .form_addr {
	width: 600px;
}

#mypageContent .board table.modify td .btn {
	display: inline-block;
	background-color: #e5e5e5;
	color: #555;
	width: 70px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #e0e0e0;
}

#mypageContent .board p.btn {
	margin-top: 40px;
	text-align: center;
}

#mypageContent .board p.btn a {
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
}

#mypageContent .board p.btn a.ok {
	background-color: #333;
	color: #fff;
}

#mypageContent .board p.btn a.cancel {
	background-color: #e8e8e8;
	color: #333;
}