@charset "UTF-8";

section#best_list {
	text-align: center;
}

section#best_list p.list_title {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	padding: 20px 0;
}

section#best_list div.item {
	overflow: hidden;
}

section#best_list div.item:nth-child(2), section#best_list div.item:nth-child(6), section#best_list div.item:nth-child(10){
	margin-left: 12%;
}

section#best_list div.item {
	width: 356px;
	height: 430px;
	float: left;
	margin: 2px;
	background: #ccc;
	position: relative;
}

section#best_list div.item img {
	width: 356px;
	height:100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

section#best_list div.category_best_white, section#best_list div.item_white {
	background: rgba(255, 255, 255, 0.5);
	width: 356px;
	height: 430px;
	position: absolute;
	left: 0;
	top: 0;
}

section#best_list div.category_best_white p, section#best_list div.item_white p {
	text-align: center;
	padding-top: 200px;
}

section#best_list hr {
	background: #ccc;
	margin-top: 50px;
}
section#best_list p.item_num{
	text-align: justify;
	line-height: 40px;
}
section#best_list div.item_sort{
	font-family: 'IBM Plex Serif', serif;
	overflow: hidden;
	margin-left:250px;
}

section#best_list a{
	color:black;
}
section#best_list div.item_white{
	display: none;
}
section#best_list div.category_best_white{
	display: none;
}

div.item{
	min-height: 300px;	
}