@charset "UTF-8";

div.detail_left {
	width: 60%;
	margin: 65px 100px;
	text-align: center;
}

div.detail_left h2.catename {
	text-align: justify;
	font-size: 15px;
	font-family: 'Nanum Myeongjo', serif;
}

div.detail_menu {
	overflow: hidden;
	margin-bottom: 3px;
}
div.detail_menu a{
	color: black;
}
div.detail_menu ul {
	margin-top: 20px; 
	font-size : 13px;
	font-family: 'IBM Plex Serif', serif;
	width: 15%;
}

div.detail_menu li{
	width: 30%;
	float: left;
	text-align: left;
	list-style: none;
	height: 22px;
	border-right: 1px solid #ccc;
}
div.datail_board li{
	width: 20%;
	float: left;
	text-align: left;
	list-style: none;
	height: 22px;
	border-right: 1px solid #ccc;
}
div.detail_menu li:nth-child(2), div.detail_left li:nth-child(3) {
	padding-left: 3px;
}

div#detail_menu_detail li:nth-child(1) {
	border-bottom: 2px solid black;
}

div#detail_menu_review li:nth-child(2) {
	border-bottom: 2px solid black;
}

div#detail_menu_qa li:nth-child(3) {
	border-bottom: 2px solid black;
}

div.detail_product a {
	color: black;
	text-decoration: none;
}

div.detail_right {
	width: 34%;
	position: fixed;
	top: 190px;
	right: 0px;
	overflow: hidden;
}
div.detail_right input[type="text"]{
	border:none;
	width:70%;
}
div.detail_right hr{
	width:95%;
}
div.detail_right input[type="submit"]{
	width:90%;
	margin:20px;
	height:50px;
	background: #222;
	color:white;
	border:none;
}
div.detail_right table tr{
	height: 40px;
}
div.detail_right table td:nth-child(1){
	width: 100px;
}

div.detail_right table td:nth-child(2){
	width: 500px;
}

div.detail_right select{
	width:70%;
}
div.detail_right a{
	color:black;
}
p.cartgo{
	text-align: right;
	padding-right: 50px;
}
div#detail_menu_qa, div#detail_menu_review {
	margin-left:100px;
	width:93%;
}
div.detail_menu table{
	margin-top:15px;
	margin-left:100px;
	width:93%;
}
div.detail_menu table th{
	background: whitesmoke;
    height: 40px;
}
div.detail_menu table td{
	height: 40px;
}
div.detail_menu table th:nth-child(1), div.detail_menu table td:nth-child(1){
	width:5%;
	text-align: center;
}
div.detail_menu table th:nth-child(2), div.detail_menu table td:nth-child(2){
	width:70%;
	padding-left:20px;
}
div.detail_menu table th:nth-child(3), div.detail_menu table td:nth-child(3){
	width:10%;
	text-align: center;
}
div.detail_menu table th:nth-child(4), div.detail_menu table td:nth-child(4){
	width:10%;
	text-align: center;
}
div.detail_menu table th:nth-child(5), div.detail_menu table td:nth-child(5){
	width:5%;
	text-align: center;
}
div.detail_menu div.button{
	float: right;
	margin-right: 50px;
}
div.detail_menu div.button button{
	margin-top:10px;
	width: 100px;
    height: 30px;
    border: none;
}
div.detail_menu div.button button#qaBtn, div.detail_menu div.button button#reviewBtn{
	background: black;
	color:white;
	font-weight: bold;
}
#line{
	text-decoration: line-through;
}
div#selectedItem li{
	margin:10px;
}
div#selectedItem input{
	width: 30px;
    height: 18px;
    border: 1px solid whitesmoke;
    position: absolute;
    left: 370px;
    text-align: center;
}
div#selectedItem button{
	width: 20px;
    height: 20px;
}
div#selectedItem button.plusNum{
	position: absolute;
    left: 402px;
}
div#selectedItem button.minusNum{
	position: absolute;
    left: 350px; 
}
div#selectedItem span{
	position: absolute;
    left: 450px; 
    width:100px;
    text-align: right;
}
div#selectedItem button.closeli{
	position: absolute;
    left: 580px; 
}
div#resultPrice{
	padding:10px;
	display:none;
}
div#resultPrice p{
	width: 200px;
    position: absolute;
    right: 20px;
}