@CHARSET "UTF-8";

<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Nanum+Myeongjo|Playfair+Display" rel="stylesheet">

*{
	
	background-color: black;
	margin:0;
	padding:0;
}

#RightSubMenu{
		margin:0;
		width: 201px;
		height: 1050px;
		border-left: 1px solid black;
		background-color: white;
		position: fixed;
		top:0;
		right: 0;
		font-family: 'IBM Plex Serif', serif;
}

.btn_close_right{
	position: fixed;
    top: 13px;
    right: 169px;	
}

#MyAccount{
	margin-top:40px;
}

#MyAccount h2,#Board h2{
	font-size: 15px;
	margin-left: 18px;
}

.accountMenu{
	list-style: none;
	padding-left:18px;
}
.accountMenu li{
	padding-top: 5px;
}
.accountMenu li a{
	text-decoration: none;
	color:black;
	font-size: 13px;
}

#Board{
	margin-top: 50px;
}
.insta{
	padding-left: 18px;
	margin-top:10px;
}
