<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mall.dao.BoardDao">
	<resultMap type="Board" id="BoardResult">
		<id property="brdNo" column="brd_no" /> <!-- 글번호 -->
		<result property="brdcode" column="brd_code" /> <!-- 게시판코드 -->
		<result property="brdtitle" column="brd_title" /> <!-- 글 제목 -->
		<result property="brdcontent" column="brd_content" /> <!-- 글 내용 -->
		<result property="brdparent" column="brd_parent" /> <!-- 글 부모 -->
		<result property="brddepth" column="brd_depth" /> <!-- 글 깊이 -->
		<result property="brduseattachment" column="brd_use_attachment" /> <!-- 첨부파일유무 -->
		<result property="prdno" column="prd_no" /> <!-- 상품번호 -->
		<result property="brdregdate" column="regdate" /> <!-- 작성일 -->
		<result property="brdwriter" column="brd_writer" /> <!--글 작성자 -->
		<result property="brdpassword" column="brd_password" /> <!--글 작성자 비밀번호 -->
		<result property="brdch" column="brd_ch" /><!--조회수 -->
		<result property="selected" column="selected" /><!--글 종류 선택 -->
		<result property="memNo" column="m_no" /><!--회원 번호 -->
	</resultMap>



	<select id="selectByAllReviewBoard" parameterType="Board"
		resultMap="BoardResult">
		select brd_no , prd_no,
		brd_code,brd_title,brd_writer,brd_ch,regdate,brd_content
		from board
		where brd_code =
		"ReviewBoard"
			order by brd_parent asc; 
	</select>

	<select id="selectByAllQandABoard" parameterType="Board"
		resultMap="BoardResult">
		select brd_no, brd_code, brd_title, brd_content, brd_parent,
		brd_depth, brd_use_attachment, prd_no,brd_ch,regdate,brd_writer
		from
		board
		where brd_code =
		"QandABoard"
				order by brd_parent asc; 
	</select>

	<select id="selectNoticeBoardAll" parameterType="Board"
		resultMap="BoardResult">
		select brd_no ,
		brd_code,brd_title,brd_writer,brd_ch,regdate
		from board
		where brd_code =
		"NoticeBoard"	
		order by brd_parent asc; 
	</select>

	<select id="selectByAllReply" parameterType="Board" resultMap="BoardResult">
		select
		brd_password,brd_writer,brd_content,brd_parent,brd_depth,regdate,brd_no
		from board
		where brd_parent=#{brdNo} and brd_title="답글" ;
	</select>

	<select id="selectlistBoardReviewByid" parameterType="int"
		resultMap="BoardResult">
		select brd_no,brd_writer, brd_title,
		brd_content,brd_password,brd_code, brd_parent,
		brd_depth,
		brd_use_attachment,
		prd_no,brd_ch,regdate,selected
		from board
		where
		brd_no = #{number}
	</select>


	<select id="selectCheckPass" parameterType="int" resultMap="BoardResult">
		select brd_no, brd_password,brd_writer,brd_title,brd_content,brd_code
		from board
		where brd_no = #{number};
	</select>

	<select id="selectBylastno" resultType="int">
		select
		IFNULL(max(brd_no)+1,0) from
		board
	</select>

	<select id="selectBybrddepth" resultType="int">
		select IFNULL(max(brd_depth)+1,0) from
		board
		where brd_parent=#{brdNo}
	</select>

	<select id="selectBoardByMember" parameterType="int" resultMap="BoardResult">
		SELECT brd_no, brd_code, brd_title, brd_writer, brd_password, brd_content, brd_parent, brd_depth, brd_use_attachment, prd_no, brd_ch, selected, m_no, regdate
		FROM board where m_no = #{mNo}
	</select>

	<insert id="insertBoard" parameterType="Board">
		insert into board
		(brd_writer,brd_password,brd_title,brd_content,brd_code,brd_parent,brd_depth,regdate,selected,prd_no)
		value(#{brdwriter},#{brdpassword},#{brdtitle},#{brdcontent},#{brdcode},#{brdparent},#{brddepth},#{brdregdate},#{selected},#{prdno})
	</insert>

	<insert id="insertBoardReply" parameterType="board">
		insert into board
		(brd_writer,brd_password,brd_content,brd_parent,brd_depth,regdate,brd_title,brd_code)
		value(#{brdwriter},#{brdpassword},#{brdcontent},#{brdparent},#{brddepth},#{brdregdate},#{brdtitle},#{brdcode})
	</insert>

	<update id="updateBoardReview" parameterType="Board">
		update board set
		brd_password=#{brdpassword},brd_title=#{brdtitle},brd_content=#{brdcontent},regdate=#{brdregdate}
		where brd_no = #{brdNo} and brd_password=#{brdpassword};

	</update>
	<update id="updatecheck">
		update board set brd_ch = brd_ch+1 where brd_no =
		#{brdNo}
	</update>

	<delete id="deleteReview">

		delete from board where brd_no= #{number};

	</delete>

</mapper>