<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mall.dao.CartDao">
	<resultMap type="Cart" id="cartResult">
		<result property="no" column="ct_no"/>
		<result property="prdQuantity" column="ct_prd_quantity"/>
		<result property="prdOpName" column="ct_prd_op_name"/>
		<result property="prdOpPrice" column="ct_prd_op_price"/>
		<result property="optiondetail.podStock" column="pod_stock"/>
		<result property="member.no" column="m_no"/>
		<result property="member.name" column="m_name"/>
		<result property="member.id" column="m_id"/>
		<result property="member.email" column="m_email"/>
		<result property="member.phone" column="m_phone"/>
		<result property="member.tel" column="m_tel"/>
		<result property="product.prdNo" column="prd_no"/>
		<result property="product.name" column="prd_name"/>
		<result property="product.cost" column="prd_cost"/><!-- 할인전 가격 -->
		<result property="product.sellingPrice" column="prd_selling_price"/><!-- 할인후 가격 -->
		<result property="product.useOption" column="prd_use_option"/><!-- 옵션유무  -->
		<result property="product.mainImg" column="prd_main_img"/><!-- 상품메인이미지 -->
		<result property="product.stock" column="prd_stock"/>
	</resultMap>

	<select id="selectAllCart" parameterType="int" resultMap="cartResult">
		select c.ct_no,c.ct_prd_quantity,c.ct_prd_op_price,c.ct_prd_op_name,c.m_no,c.type,c.prd_no,p.prd_selling_price,
		p.prd_name,p.prd_main_img,p.prd_stock,od.pod_stock 
		from cart c 
		join product p on c.prd_no = p.prd_no 
		left join option_detail od on c.pod_no = od.pod_no where m_no=#{mno}
	</select>

	<select id="countSelectAllCartByMember" parameterType="int" resultType="int">
		select count(ct_no) as cnt from cart where m_no=#{mno}
	</select>

	<delete id="deleteByClickBtn" parameterType="Map">
		delete from cart where ct_no = #{ctNo} and m_no = #{no}
	</delete>

	<insert id="insertCart" parameterType="Cart">
		insert into cart(ct_prd_quantity, ct_prd_op_name, ct_prd_op_price, m_no, prd_no)
		values(#{prdQuantity}, #{prdOpName}, #{prdOpPrice}, #{member.no},#{product.prdNo})
	</insert>

	<delete id="deleByAll" parameterType="Cart">
		delete from cart where m_no=#{member.no}
	</delete>
	
	<update id="updateCartPrdCount" parameterType="Map">
		update cart set ct_prd_quantity=#{prdCount} where m_no=#{no} and ct_no=#{ctNo};
	</update>

	<select id="selectByselectedCart" parameterType="Map" resultMap="cartResult">
		select c.ct_no,c.ct_prd_quantity,c.ct_prd_op_name,c.ct_prd_op_price,c.m_no,c.type,
		c.prd_no,p.prd_selling_price,p.prd_name,p.prd_main_img,p.prd_stock,od.pod_stock,
		m.m_name,m.m_id,m.m_email,m.m_phone,m.m_tel
		from cart c 
		join product p on c.prd_no = p.prd_no join `member` m on c.m_no = m.m_no
		left join option_detail od on c.pod_no = od.pod_no   
		where c.m_no=#{mNo} and ct_no in
		<foreach collection="ctNo" item="item" index='idx' separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>

	
</mapper>