<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mall.dao.OrderDao">
	<resultMap type="Order" id="orderResult">
		<result property="ordPrice" column="ord_price"/> <!-- 주문가격 -->
		<result property="ordCouponPrice" column="ord_coupon_price"/> <!-- 쿠폰사용가격 -->
		<result property="ordOption" column="ord_use_prd_option"/> <!-- 주문상품 옵션유무 -->
		<result property="deliveryFee" column="ord_delivery_fee"/> <!-- 배송비 -->
		<result property="ordMessage" column="order_text"/> <!-- 주문메세지 -->
		<result property="type" column="ord_pay_type"/><!-- 결제타입 -->
	</resultMap>
	<resultMap type="Member" id="orderWithMemberResult" extends="orderResult">
		<result property="no" column="m_no" />
		<result property="id" column="m_id" />
		<result property="name" column="m_name" />
		<result property="pwd" column="m_pass" />
		<result property="email" column="m_email" />
		<result property="phone" column="m_phone" />
		<result property="regdate" column="m_regdate" />
	</resultMap>
	<resultMap type="Address" id="memberwithaddressResult" extends="orderWithMemberResult">
		<result property="mdZipcode" column="md_zipcode"/>
		<result property="mdAddress" column="md_address"/>
	</resultMap>
	<resultMap type="OrderProduct" id="orderwithorderproductResult" extends="memberwithaddressResult">
		<id property="ordNo" column="ord_no"/>
		<result property="opSellingPrice" column="op_selling_price"/>
		<result property="opQuantity" column="op_quantity"/>
		<result property="opOption" column="op_option"/>
	</resultMap>
	<resultMap type="Product" id="orderproductwidthproductResult" extends="orderwithorderproductResult">
		<result property="prdNo" column="prd_no"/>
		<result property="name" column="prd_name"/>
	</resultMap>
	

	<!-- order 주문등록 -->
	<insert id="insertOrder" parameterType="Order">
		insert into `order` values(#{ordNo.ordNo},#{ordPrice},#{ordCouponPrice},#{type},#{ordOption},#{deliveryFee},#{ordMessage},#{memberNo.no});
	</insert>
	<insert id="insertOrderProduct" parameterType="OrderProduct">
		insert into order_product values(#{opSellingPrice},#{opQuantity},#{opOption},#{ordNo},#{prdNo.prdNo});
	</insert>
</mapper>