<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mall.dao.OrderDao">
	<resultMap type="Order" id="orderResult">
		<id property="ordNo" column="ord_no"/>
		<result property="ordPrice" column="ord_price"/> <!-- 주문가격 -->
		<result property="ordCouponPrice" column="ord_coupon_price"/> <!-- 쿠폰사용가격 -->
		<result property="deliveryFee" column="ord_delivery_fee"/> <!-- 배송비 -->
		<result property="ordMessage" column="order_text"/> <!-- 주문메세지 -->
		<result property="type" column="ord_pay_type"/><!-- 결제타입 -->
		<result property="receiver" column="ord_receuver"/><!-- 수령자 -->
		<result property="rcPhone1" column="ord_rphone1"/><!-- 결제타입 -->
		<result property="rcPhone2" column="ord_rphone2"/><!-- 결제타입 -->
	</resultMap>
	<resultMap type="Member" id="orderWithMemberResult" extends="orderResult">
		<result property="no" column="m_no" />
		<result property="id" column="m_id" />
		<result property="name" column="m_name" />
		<result property="pwd" column="m_pass" />
		<result property="email" column="m_email" />
		<result property="phone" column="m_phone" />
		<result property="regdate" column="m_regdate" />
	</resultMap>
	<resultMap type="Address" id="memberwithaddressResult" extends="orderWithMemberResult">
		<id property="addrNo" column="ma_no" />
		<result property="memNo" column="m_no" />
		<result property="zipcode" column="ma_zipcode" />
		<result property="addr1" column="ma_addr1" />
		<result property="addr2" column="ma_addr2" />
		<result property="addrType" column="ma_addr_type" />
		<result property="regdate" column="ma_regdate" />
		<result property="addrName" column="ma_name" />
	</resultMap>
	<resultMap type="OrderProduct" id="orderwithorderproductResult" extends="memberwithaddressResult">
		<result property="opSellingPrice" column="op_selling_price"/>
		<result property="opQuantity" column="op_quantity"/>
		<result property="opOption" column="op_option"/>
	</resultMap>
	<resultMap type="Product" id="orderproductwidthproductResult" extends="orderwithorderproductResult">
		<result property="prdNo" column="prd_no"/>
		<result property="name" column="prd_name"/>
	</resultMap>
	

	<!-- order 주문등록 -->
	<insert id="insertOrder" parameterType="Order">
		insert into `order` values(#{ordNo},#{ordPrice},#{ordCouponPrice},#{type},#{deliveryFee},#{ordMessage},#{member.no},#{receiver},#{rcPhone1},#{rcPhone2});
	</insert>
	<insert id="insertOrderProduct" parameterType="OrderProduct">
		insert into order_product values(#{opSellingPrice},#{opQuantity},#{opOption},#{order.ordNo},#{prdNo.prdNo});
	</insert>
	<select id="selectOrder" parameterType="Order" resultMap="orderwithorderproductResult">
		select*from order
	</select>
	
	
	
</mapper>