<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mall.dao.ProductDao">
	<resultMap type="Product" id="productResult">
		<id property="prdNo" column="prd_no" />
		<result property="category" column="prd_category" />
		<result property="name" column="prd_name" />
		<result property="subDesc" column="prd_sub_desc" />
		<result property="cost" column="prd_cost" />
		<result property="sellingPrice" column="prd_selling_price" />
		<result property="discountPer" column="prd_discount_per" />
		<result property="useOption" column="prd_use_option" />
		<result property="stock" column="prd_stock" />
		<result property="mainImg" column="prd_main_img" />
		<result property="use" column="prd_use"/>
		<result property="sellingCount" column="prd_selling_count"/>
	</resultMap>
	
	<resultMap type="Proimg" id="proimgResult">
		<id property="imgNo" column="img_no"/>
		<result property="prdNo" column="prd_no"/>
		<result property="img" column="img"/>
	</resultMap>
	
	<resultMap type="Option" id="optionResult">
		<id property="poNo" column="po_no"/>
		<result property="poName" column="po_name"/>
		<result property="prdNo" column="prd_no"/>
	</resultMap>
	
	<resultMap type="OptionDetail" id="optionDetailResult">
		<id property="podNo" column="pod_no"/>
		<result property="poNo" column="po_no"/>
		<result property="podValue" column="pod_value"/>
		<result property="podCost" column="pod_cost"/>
		<result property="podStock" column="pod_stock"/>
	</resultMap>
	
	<insert id="insertProduct" parameterType="product">
		insert into 
		product(prd_category, prd_name, prd_sub_desc, prd_cost, prd_selling_price, prd_discount_per, prd_use_option, prd_stock, prd_main_img) 
		values(#{category}, #{name}, #{subDesc}, #{cost}, #{sellingPrice}, #{discountPer}, #{useOption}, #{stock}, #{mainImg})
	</insert>
	<insert id="insertProImg" parameterType="proimg">
		insert into
		proimg(img, prd_no)
		values(#{img}, #{prdNo});
	</insert>
	<select id="selectLastInsert" resultType="int">
		SELECT LAST_INSERT_ID() from product GROUP BY LAST_INSERT_ID()
	</select>
	<select id="selectLastInsertOption" resultType="int">
		SELECT LAST_INSERT_ID() from pro_option GROUP BY LAST_INSERT_ID()
	</select>
	<insert id="insertOption">
		insert into pro_option(po_name, prd_no)
		value(#{poName},#{prdNo})
	</insert>
	<insert id="insertOptionDetail">
		insert into option_detail(po_no, pod_value, pod_cost, pod_stock)
		value(#{poNo}, #{podValue},#{podCost},${podStock})
	</insert>
	<select id="selectAllProduct" resultMap="productResult">
		select * from product 
		<if test="use!=null">
			where prd_use=${use}
		</if>
		order by prd_no desc
	</select>
	<select id="selectCateProduct" parameterType="Product" resultMap="productResult">
		select * from product where prd_category=#{category}
		<if test="use!=null">
			and prd_use=${use}
		</if>
		order by prd_no desc
	</select>
	<select id="selectNameProduct" resultMap="productResult">
		select * from product where prd_name like CONCAT("%",#{name},"%")
		<if test="use!=null">
			and prd_use=${use}
		</if>
		order by prd_no desc
	</select>
	<select id="selectNCProduct" resultMap="productResult">
		select * from product where prd_category=#{category} and prd_name like CONCAT("%",#{name},"%")
		<if test="use!=null">
			and prd_use=${use}
		</if>
		order by prd_no desc
	</select>
	<select id="selectSaleProduct" resultMap="productResult">
		select * from product where not prd_discount_per='0%' limit 12;
	</select>
	<select id="SelectProductByno" resultMap="productResult">
		select * from product where prd_no=#{prdNo}
	</select>
	<select id="SelectProimgByno" resultMap="proimgResult">
		select * from proimg where prd_no=#{prdNo}
	</select>
	<select id="SelectOptionByno" resultMap="optionResult">
		select * from pro_option where prd_no=#{prdNo}
	</select>
	<select id="SelectOpDeByno" resultMap="optionDetailResult">
		select * from option_detail where po_no=#{poNo}
	</select>
	
	<update id="updateProduct">
		update product
		<set>
			<if test="category != null">
				prd_category=#{category},
			</if>
			<if test="name != null">
				prd_name=#{name},
			</if>
			<if test="subDesc != null">
				prd_sub_desc=#{subDesc},
			</if>
			<if test="cost != null">
				prd_cost=#{cost},
			</if>
			<if test="sellingPrice != null">
				prd_selling_price=#{sellingPrice},
			</if>
			<if test="discountPer != null">
				prd_discount_per=#{discountPer},
			</if>
			<if test="useOption != null">
				prd_use_option=#{useOption},
			</if>
			<if test="stock != null">
				prd_stock=#{stock},
			</if>
			<if test="mainImg != null">
				prd_main_img=#{mainImg},
			</if>
			<if test="use != null">
				prd_use=${use},
			</if>
			<if test="sellingCount != null">
				prd_selling_count = #{sellingCount}
			</if>
		</set> 
		where prd_no=#{prdNo}
	</update>
	<delete id="deleteOption">
		delete from pro_option where prd_no=#{prdNo}
	</delete>
	<delete id="deleteOptionDetail">
		delete from option_detail where po_no=#{poNo}
	</delete>
	<delete id="deleteProimg">
		delete from proimg where prd_no=#{prdNo} and img=#{img}
	</delete>
	
	<select id="selectBestAllProduct" resultMap="productResult">
		select * from product order by prd_no desc;
	</select>
	<select id="selectBestCateProduct" resultMap="productResult">
		select * from product where prd_category=#{category}
		order by prd_no desc;
	</select>
	
	<select id="selectProductByPagination" parameterType="map" resultMap="productResult">
		select * from product
		<where>
			<if test="no != null and no > 0">
				prd_no = #{no}
			</if>
			<if test="name != null and name != ''">
				and prd_name like CONCAT("%",#{name},"%")
			</if>
			<if test="category != null and category != ''">
				and prd_category = #{category}
			</if>
		</where>
		order by 
		<if test="sort != null and sort != ''">
			<choose>
				<when test="sort == 'name'">
					prd_name
				</when>
				<when test="sort == 'low' or sort == 'high'">
					prd_selling_price
				</when>
				<when test="sort == 'rank'">
					prd_selling_count
				</when>
				<otherwise>prd_no</otherwise>
			</choose>
			<choose>
				<when test="orderby == 'desc'">DESC</when>
				<otherwise>ASC</otherwise>
			</choose>
			,
		</if>
		prd_no desc
		<if test="start != null || offset != null">
			limit 
			<if test="start != null and start > 0">
				#{start},
			</if>
			<if test="offset != null and offset > 0">
				#{offset}
			</if>
		</if>
	</select>
	
	<select id="countTotalProductByCategory" parameterType="Product" resultType="int">
		select count(prd_no) from product
		<where>
			<if test="category != null and category != ''">
				prd_category = #{category}
			</if>
		</where>
	</select>
</mapper>